@font-face {
    font-family: 'Cardo';
    src: url('../public/fonts/Cardo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.header {
    font-weight: normal;
    font-size: 48pt;
    font-family: 'Cardo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}